<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Online Expenses Management</h2>
        <h3 class="oe_slogan">Easily Manage Employees' Expenses</h3>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="expense_sc_00.png" height="350">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Save time on expense records</h2>
        <h3 class="oe_slogan">Everything at one place</h3>
        <p class="oe_mt32">
        Manage your employees' daily expenses. Whether it's travel expenses or any other costs, access all your employees&apos; fee notes and complete, validate or refuse them. No need to download any specialized software or program to manage expenses - everything can be done directly in the app!
        </p>
        <div class="col-md-8 col-md-offset-2">
            <img class="oe_picture oe_screenshot" src="expense_sc_01.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Stop losing receipts</h2>
        <h3 class="oe_slogan">Upload all receipts within expense records</h3>
        <div class="oe_span6">
            <p class="oe_mt16 text-justify">
            Allow employees to add copies of the receipts and proofs directly to the expense records to avoid losing them. Save time and increase your efficiency by keeping a clean and complete record of all expenses.
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="expense_sc_02.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Manage expenses per team</h2>
        <h3 class="oe_slogan">Have a clear overview of a team&apos;s spendings</h3>
        <p class="oe_mt16 oe_mb32 text-center">
        As a manager, follow expenses recorded by a full team to keep an eye on the costs and make sure to keep to the target and budget.
        </p>
        <div class="oe_row_img oe_centered">
            <img class="oe_picture oe_screenshot" src="expense_sc_03.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Share the workload between departments</h2>
        <h3 class="oe_slogan oe_mb32">Get everyone involved to save time</h3>
        <div class="oe_span4">
            <img class="center-block" src="employees.png">
            <div class="text-center">
                <h4 class="oe_mt16">
                    <b>Employees</b>
                </h4>
            </div>
            <p class="oe_mt8">Draft and confirm expenses, and load receipts to the expense records.</p>
        </div>
        <div class="oe_span4">
            <img class="center-block" src="managers.png">
            <div class="text-center">
                <h4 class="oe_mt16">
                    <b>Managers</b>
                </h4>
            </div>
            <p class="oe_mt8">Comment, validate or refuse expenses, and add or edit information.</p>
        </div>
        <div class="oe_span4">
            <img class="center-block" src="accountants.png">
            <div class="text-center">
                <h4 class="oe_mt16">
                    <b>Accountants</b>
                </h4>
            </div>
            <p class="oe_mt8">Record expenses in the books and proceed to the payments and invoicing.</p>
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>
