<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Share your knowledge</h2>
        <h3 class="oe_slogan">The power of YouTube and Slideshare combined on your website</h3>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="public_channel.png" height="350">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Powerful document management system</h2>
        <h3 class="oe_slogan">Publish presentations, videos, images and documents directly on your website</h3>
        <div class="oe_span6">
            <p class="oe_mt32 text-justify">
            Say goodbye to complicated archives and third-party files hosts. With Odoo Slides you can centralize all your documents on your website and share them publicly or privately with selected groups.
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="slides1.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Share your content with the world</h2>
        <h3 class="oe_slogan">Make it easy for your visitors and customers to access your content </h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="slides2.png">
        </div>
        <div class="oe_span6">
            <p class="oe_mt32 text-justify">
            With Odoo Slides, you have many ways to share your presentations and videos- on social media, by email or even by embedding the content straight to another website.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan oe_mb32" style="color:#875A7B;">Showcase your work and success</h2>
        <div class="oe_span6">
            <div class="text-center">
                <span class="fa fa-unlock-alt fa-2x"></span>
                <h4 class="oe_mt16"><b>Centralize internal documentation</b></h4>
            </div>
            <p class="oe_mt32 text-justify">
            Build a clean and complete library with your in-house documents.Secure it by setting up a private channel that only your employees can access.<br/>
            </p>
            <div class="text-center">
                <span class="fa fa-long-arrow-down fa-2x oe_mt16 oe_mb16"/>
                <img class="oe_picture oe_screenshot" src="slides3.png">
            </div>
        </div>
        <div class="oe_span6">
            <div class="text-center">
                <span class="fa fa-microphone fa-2x"></span>
                <h4 class="oe_mt16 oe_mb16"><b>Compile and share material from your training, conferences and talks</b></h4>
            </div>
            <p class="text-justify">
            Publish presentations from your company and from contributors and be recognized as a major player by sharing your experiences, expertise and valuable content.
            </p>
            <div class="text-center">
                <span class="fa fa-long-arrow-down fa-2x oe_mt16 oe_mb8"/>
                <img class="oe_picture oe_screenshot" src="slides4.png">
            </div>
        </div>
    </div>
</section>
