<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Modern Open Source Online Store</h2>
        <h3 class="oe_slogan">Awesome product pages. Mobile friendly. Easy.</h3>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="website_sale_sc_00.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Create appealing product pages</h2>
        <h3 class="oe_slogan">Building your online store has never been so easy</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="website_sale_product.png"/>
        </div>
        <div class="oe_span6 text-justify">
            <p class="oe_mt32">
            Simply drag &amp; drop pre-made building blocks to set your desired elements into place. Edit text inline straight on the web page to fine tune the product description, characteristics and images.</p>
            <p class="oe_mt8">
            Emphasize your best products on your storefront. Add alternative products and product attributes like color or size. Customize the color, layout and font of your theme.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Increase your average cart revenue</h2>
        <h3 class="oe_slogan">Sell more with upselling, cross selling and product variants</h3>
        <div class="oe_span6">
            <p class="oe_mt32">
            Show visitors similar but more expensive products from your catalog.
            </p>
            <p>
            Offer extra products related to what the shopper puts in his cart.
            </p>
            <p>
            Allow your clients to customize their product with different color, size and more!
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="suggested.png" height="300">
        </div>
   </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Personal customer portal</h2>
        <h3 class="oe_slogan">Where customers can consult shipping statuses, invoices and delivery orders.</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="website_sale_SO.png">
        </div>
        <div class="oe_span6">
            <p class="oe_mt32 text-justify">
            Provide your customers with a complete 24/7 access to up-to-date information through a dedicated customer portal where they can track their orders, download their invoice or delivery order and manage their return and claims. No need to navigate across multiple documents - everything is centralized in one place.
            </p>
        </div>
   </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="col-md-7">
            <h2 class="oe_slogan" style="color:#875A7B; text-align: left;">Marketplaces integration</h2>
            <h3 class="oe_slogan" style="text-align: left;">Amazon &amp; eBay</h3>
            <p class="oe_mt16 text-justify">
            Get extra exposure and sell more by publishing your products on eBay and Amazon. Import and manage your items straight from your Odoo instance.
            </p>
        </div>
        <div class="col-md-5">
            <h2 class="oe_slogan" style="color:#875A7B; text-align: left;">Shippers integration</h2>
            <h3 class="oe_slogan" style="text-align: left;">UPS, DHL &amp; FedEx</h3>
            <p class="oe_mt16 text-justify">
            Speed up your shipment process and track your packages from Odoo. Select between multiple rates by shipping providers.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>
