
<section class="container">
    <div class="oe_row oe_spaced" >
        	<div class="mt64" >
	            <a href="http://www.emiprotechnologies.com/odoo/services" target="_blank"><img class="img img-responsive" src="odoo_service.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;margin: 0 auto;"/></a>
	        </div>
    </div>
</section>


<section class="container">
    <div class="oe_row oe_spaced" style="width:100%;margin-top: 30px;">
            <div class="contct_us_btn" style="padding:7px;margin: 0 auto;display: block;width: 20%;background-color: #087dda;text-align: center;">
            	<a style="color:white;font-size:20px;" href="http://www.emiprotechnologies.com/requestquote" target="_blank">Contact Us</a>
            </div>
    </div>
</section>
