<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Enhance team communication</h2>
        <h3 class="oe_slogan">Group and private chat, integrated with all modules</h3>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="mail_sc_00.png" height="350">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Engage conversation with colleagues</h2>
        <h3 class="oe_slogan">A powerful communication tool</h3>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="mail_sc_01.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
            Drive discussions between employees, managers, and all levels of your company. Get an overview of the topics being discussed and all the new messages in the module&apos;s news feed.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Chat in live from anywhere</h2>
        <h3 class="oe_slogan">Keep conversations open in other modules</h3>
        <div class="oe_span6">
            <p class="oe_mt32">
            Turn your conversation in a pop-up window to continue chatting within other Odoo modules.
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture" src="mail_sc_02.png">
        </div>
    </div>
</section>


<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Communicate with the right target</h2>
        <h3 class="oe_slogan">Create channels and private groups</h3>
        <p class="oe_mt32">
        Start discussion with the right people with channels and allow any employee to join in to the conversation.Create private channels to invite only a selected group of people and prevent unrelated employees to pollute the conversations.
        </p>
        <div class="oe_row_img oe_centered oe_mt32">
            <img class="oe_picture oe_screenshot" src="mail_sc_03.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Personalize notifications</h2>
        <h3 class="oe_slogan">Send notifications only when you want to</h3>
        <div class="oe_span6">
            <p class="oe_mt32 text-justify">
            Personalize the way notifications are sent to minimize mailbox pollution while making sure important messages get through. Specify who gets what message and when.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="mail_sc_04.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Integrated with all modules</h2>
        <h3 class="oe_slogan">Keep track of all actions within one window</h3>
        <p class="oe_mt32">
        Follow any discussion from any module to automatically see updates and discussions on those tasks in your news feed. Create public and private groups to invite participants, personalize the notifications system and add those groups to specific tasks to keep track of the evolution of all projects.
        </p>
        <div class="oe_row_img oe_centered oe_mt32">
            <img class="oe_picture oe_screenshot" src="mail_sc_05.png">
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>
