
.o_timesheet_plan_sale_timesheet {

    [type='action'] {
        color: @odoo-brand-optional;
        cursor: pointer;
    }

    .o_timesheet_plan_stat_buttons {
        text-align: right;
        float: none;
        width: auto;
    }

    .o_timesheet_plan_sale_timesheet_dashboard {

        .table {
            margin-top: 15px;
        }
        .table > thead > tr > th, .table > thead > tr > td,
        .table > tbody > tr > th, .table > tbody > tr > td {
            border: none;
        }
        .table > tbody > tr > td.o_timesheet_plan_dashboard_cell {
            text-align: right;
        }
        .table > tbody > tr > td.o_timesheet_plan_dashboard_total {
            border-top: 1px solid;
            text-align: right;
        }

    }

    .o_timesheet_plan_sale_timesheet_people_time {

        .o_progress_billable_time {
            background-color: #f0ad4e;
            color: white;
            cursor: pointer;
        }
        .o_progress_billable_fixed {
            background-color: #5bc0de;
            color: white;
            cursor: pointer;
        }
        .o_progress_non_billable_project {
            background-color: @brand-primary;
            color: white;
            cursor: pointer;
        }
        .o_progress_non_billable {
            background-color: gray;
            color: white;
            cursor: pointer;
        }

        >.o_timesheet_plan_badge {
            margin-bottom: 10px;
            > .badge {
                border: none;
                    a {
                    color: white;
                }
            }
        }

        .table {
            margin-top:15px;
        }
        .table > thead > tr > th, .table > thead > tr > td,
        .table > tbody > tr > th, .table > tbody > tr > td {
            border: none;
            padding: 0px;
        }
    }


}
