<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Easily manage suppliers and purchase orders</h2>
        <h3 class="oe_slogan">Improve your supply chain &amp; inventory performance</h3>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="purchase_products.png" height="300">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Automate your purchasing workflow</h2>
        <h3 class="oe_slogan">Automatically send RfQs to your suppliers based on your stocks levels</h3>
        <div class="oe_span6">
            <p class="oe_mt32 text-justify">
            Improve your purchase and inventory performance with procurement rules depending on stock levels, logistic rules, sales orders, forecast manufacturing orders, etc. Select different replenishment methods for each product depending on your manufacturing and delivery strategies. 
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="purchase_po.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Control Products and Invoices</h2>
        <h3 class="oe_slogan">Manage refunds, product receivals and quality control</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="incoming_products.png">
        </div>
        <div class="oe_span6">
            <p class="oe_mt32 text-justify">
            Choose the right method according to your needs: pre-generate draft invoices based on purchase orders and product receivals; create invoices manually and import lines from purchase orders, etc.</p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <h3 class="oe_mt32 oe_mb8"><b>Get Supplier Price Lists and Product Availability</b></h3>
            <h4>Make smart purchase decisions using the best prices</h4>
            <p class="oe_mt16 oe_mb32 text-justify">
            Easily import suppliers' price lists and references to make smarter purchase decisions based on promotions, quantities and special contract conditions. Keep track of a product availability in your supplier&apos;s stock and check your order status from within the app. You can even base your sale price on your supplier's prices.
            </p>
            <img class="oe_picture oe_screenshot" src="purchase_product_form.png" style="margin-left: -1px;">
        </div>
        <div class="oe_span6">
            <h3 class="oe_mt32 oe_mb8"><b>Get Statistics On Your Purchases</b></h3>
            <h4>Analyze, forecast and efficiently plan your orders</h4>
            <p class="oe_mt16 text-justify">
            Get accurate statistics on your suppliers' performance through flexible reporting: delivery delays, negotiated discounts on prices, quantities purchased, etc. Integrate purchases with analytic accounting to analyze your contracts' profitability.
            </p>
            <img class="oe_picture oe_screenshot" src="purchase_analysis.png" style="margin-left: -1px; margin-top: 52px;">
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>
