<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Odoo Dashboard</h2>
            <h3 class="oe_slogan">Keep your eyes on your whole business analysis</h3>
        </div>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                    <img src="board_sc_00.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Get the indicators of your company's well-being at a glance</h2>
        <h3 class="oe_slogan">Gather all your Odoo reports in one app</h3>
        <div class="oe_span6">
            <p class="oe_mt32">
After creating reports in each Odoo app, you can choose to make them as Favorite and adding those on your 'Dashboard'. Odoo Dashboard is the reporting module that gathers all your favorite graphs and tabs in one place. You company has no secret for you anymore, all your important figures are in front of you. 
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="board_sc_01.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Statistics about your data</h2>
        <h3 class="oe_slogan">Generate graphs and charts in just a click</h3>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="board_sc_02.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
In each Odoo App, you can create detailed reports and graphs in any format you like without the need of an external program. Get statistics on any numbers in your company, from fuel costs in projects all the way to revenues in sales channels, and with inventory, and everything in between.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">The information you need the way you need it</h2>
        <h3 class="oe_slogan">Filter all results to fit your field of research</h3>
        <div class="oe_span12">
            <p class="oe_mt32">
In each Odoo app, you'll need to create a report. In the reports you can filter and group each analysis using built-in filters, and create custom filters to gather only the information you are looking for. Save the filters you created in your favorites to access them anytime in just a click either from the concerned app, or in comparison with you other reports in the Odoo Dashboard app.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Track the process</h2>
        <h3 class="oe_slogan">Keep track of all your important data</h3>
        <div class="oe_span12">
            <p class="oe_mt32">
Track the process of each activity, from projects to reports and invoices, and get statistical information on all topics, in a simple and clear tabular chart. Get a clear overview of your whole activity and be ready for new challenges.
            </p>
        </div>
    </div>
</section>
