<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Answer your customers questions live</h2>
        <h3 class="oe_slogan">Engage with visitors, deliver real time support to customers</h3>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="im_livechat_sc_00.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Do it live!</h2>
        <h3 class="oe_slogan">Convert more visitors into leads and customers</h3>
        <div class="col-md-5 oe_mt32 text-justify">
            <span class="fa fa-eyedropper fa-2x pull-left"/>
            <div class="oe_mb32">
                <p style="margin-left:45px;">Chat online with customers and website visitors in real time.</p>
            </div>
            <span class="fa fa-font fa-2x pull-left"/>
            <div class="oe_mb32">
                <p style="margin-left:45px;">No need for a special chat server, everything is done through your website.</p>
            </div>
            <span class="fa fa-desktop fa-2x pull-left"/>
                <p style="margin-left:45px;">
                  Provide your visitors with information in a fast and simple way - direct chat with customers on your website has never been easier!
                </p>
        </div>
        <div class="col-md-3" style="margin-left:68px;">
            <img class="oe_picture oe_screenshot" src="im_livechat_01.png">
        </div>
        <div class="col-md-3">
            <img class="oe_picture oe_screenshot" src="im_livechat_02.png">
        </div>
    </div> 
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Select your audience</h2>
        <h3 class="oe_slogan">Provide direct chat to a specified target</h3>
        <div class="oe_span6">
            <img class="oe_picture" src="im_livechat_sc_02.png">
        </div>
        <div class="oe_span6">
            <p class="oe_mt32 text-justify">
            Create channels to filter your audience by country and provide better customer service by engaging with your customers and website visitors using the right language and tone.</p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Accessible from anywhere</h2>
        <h3 class="oe_slogan">Chat from within any module</h3>
        <div class="oe_span6">
            <p class="oe_mt32 text-justify">
            Keep the conversation with your customers from within Odoo to allow multitasking when looking for important information from the backend of your environment. Access all information at the same time as the conversation window is open so you can give accurate and precise answers.
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="im_livechat_sc_03.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Improve your level of service</h2>
        <h3 class="oe_slogan">Make sure to keep customers satisfied</h3>
        <div class="oe_span3">
            <img class="oe_picture oe_screenshot" src="im_livechat_02.png"/>
        </div>
        <div class="oe_span3">
            <img class="oe_picture oe_screenshot" src="im_livechat_01.png"/>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32 text-justify">
            Gather customer feedback to improve the quality of your service with a very simple rating tool for live chat sessions. Customers simply have to rate the conversation after their questions have been answered.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Answer more quickly with templates</h2>
        <h3 class="oe_slogan">Use pre-written answers to be faster</h3>
        <div class="oe_span6">
            <p class="oe_mt32 text-justify">
            Allow to spend less time on more frequent questions by inserting pre-written answers using simple keyboard shortcuts. Customize answers at wish and add as many shortcuts as you like.</p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="im_livechat_sc_05.png"/>
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>
