<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Send Quotes Online</h2>
        <h3 class="oe_slogan">Create polished, professional quotes in minutes</h3>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                    <img src="sale_quote.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
Use templates to create polished, professional quotes in minutes. Send these
quotes by email and let your customer sign online. Use cross-selling and
discounts to push boost your sales.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Electronic Signature</h2>
        <h3 class="oe_slogan">No more fax or scans in emails</h3>
        <div class="oe_span6">
            <p class='oe_mt32'>
Let your customers sign proposals online. Use up-selling techniques to
propose them some options.
            </p>
            <p class='oe_mt32'>
Spend the extra time focusing on selling, not recording data.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="quote_sign.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Communicate Efficiently</h2>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="sale_price.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                Have clear pricing strategies.
            </p>
        </div>
    </div>
</section>


