<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Our Team Page</h2>
        <h3 class="oe_slogan">Share your employees details on website</h3>
        <div class="oe_span6">
            <div class="oe_big_img">
                <img class="oe_picture oe_screenshot" src="team_page.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                Publish your employees public information on your "About Us" website page.
            </p>
        </div>
    </div>
</section>
