<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Smart Point of Sale</h2>
        <h3 class="oe_slogan">Easy to use &amp; compatible with any device.</h3>
        <div class="oe_centeralign oe_mt32 oe_mb32">
            <a target="_blank" href="https://www.youtube.com/watch?v=bncoCFGYucI" class="oe_button oe_big oe_tacky">Watch the video</a>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">User-friendly Point of Sale</h2>
        <h3 class="oe_slogan">Set-up in minutes, sell in seconds</h3>
        <div class="oe_span6">
            <img class="oe_picture" src="pos_sc_01.png">
        </div>
        <div class="oe_span6 text-justify">
            <p class="oe_mt32">
                Odoo's online Point of Sale app is based on a simple, user friendly interface that everyone can use without difficulty. The POS can be used online or offline and iPads, Android tablets or laptops.
            </p>
            <p class="oe_mt8">
                Odoo POS is fully integrated with Odoo Inventory and Accounting. Any transaction with your POS will automatically go to your inventory management and accounting and, even to your CRM as the customer can be identified from the app.
            </p>
            <p class="oe_mt8">
                You will be able to run real time statistics and consolidations across all your shops without the hassle of integrating several applications.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">An interface designed for productivity</h2>
        <h3 class="oe_slogan oe_mb32">The point of sale that keeps everything where you need it</h3>
        <div class="oe_span4 text-center">
            <span class="fa fa-paint-brush fa-2x"/>
            <h4 class="oe_mt16 oe_mb8">
                <b>Simple, beautiful, and affordable</b>
            </h4>
            <p>
            Say goodbye to ugly, expensive, outdated POS systems and enjoy the Odoo web interface designed for the modern retailer.
            </p>
        </div>
        <div class="oe_span4 text-center">
            <span class="fa fa-users fa-2x"/>
            <h4 class="oe_mt16 oe_mb8">
                <b>Handling multiple customers</b>
            </h4>
            <p>
            Whether it's for a restaurant or a shop, you can activate multiple tickets in parallel so you won't keep your customers waiting.
            </p>
        </div>
        <div class="oe_span4 text-center">
            <span class="fa fa-search fa-2x"/>
            <h4 class="oe_mt16 oe_mb8">
                <b>Blazing fast search</b>
            </h4>
            <p>
            Scan products, browse through hierarchical categories or quickly get information about products with fast filtering across all your items.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Online or offline interface, compatible with any hardware</h2>
        <h3 class="oe_slogan">Odoo's Point of Sale stays reliable even if your connection is not</h3>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img src="pos_offline.png">
            </div>
        </div>
        <div class="oe_span6 text-justify">
            <p class="oe_mt32">
                Set up new stores quickly and easily with just an Internet connection. Then use your POS everywhere, anytime.
            </p>
            <p class="oe_mt8">
                While an Internet connection is required to start the Point of Sale, it will stay operational even after complete disconnection. Because it's extremely flexible, you can configure Odoo POS to meet your precise needs.
            </p>
            <p class="oe_mt8">
                No installation and no specific hardware is required to use Odoo POS. Our solution for points of sale is compatible with desktop PCs, iPads and other tablet computers, laptops and industrial POS machines.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class='oe_slogan' style="color:#875A7B;">Keep in touch with your customers</h2>
        <h3 class='oe_slogan'>And keep them coming back with loyalty programs.</h3>
        <div class='oe_span6'>
            <p class="oe_mt32 text-justify">
                Reward your loyal customers with points, gifts and discounts with Odoo loyalty programs. The whole process is fast and can be entirely automated. Identifying your customers is even faster with loyalty cards and customer barcode ids.
            </p>
        </div>
        <div class='oe_span6'>
            <p class="oe_mt32 text-justify">
                Register your customers to keep track of their buying habits. You can then send them special offers and sale notices with Odoo Mailing. Register tax identifications for your business customers and give them invoices instantly (or send by email).
            </p>
        </div>
        <div class="oe_row_img oe_centered">
            <img class="oe_picture" src="pos_sc_04.png">
        </div>
    </div>
</section>

<section class='oe_container oe_dark'>
    <div class='oe_row oe_spaced'>
        <h2 class="oe_slogan" style="color:#875A7B;">Integrated inventory management</h2>
        <h3 class="oe_slogan">Odoo Point of Sale will facilitate your inventory management</h3>
        <div class="text-center">
            <p class="oe_mt32">
            Consolidate all your sales channels in real time: stores, e-commerce, inside sales. Get real time control of the inventory and accurate forecasts to manage procurements.
            </p>
            <p class="oe_mt16">
            Odoo POS is fully integrated with other Odoo apps. Odoo Inventory app automatically inputs any transaction from the POS in the stock. You can see in real time the availability of products without losing time. Furthermore, the POS is compatible with Odoo e-commerce. You won't need to setup separate stocks for the two apps and be a truly multi-channel business, without headache.
            </p>
        </div>
        <div class='oe_row_img oe_centered oe_mt32'>
            <img class="oe_picture oe_screenshot" src="pos_product_form.png">
        </div>
    </div>
</section>

<section class='oe_container'>
    <div class="oe_row oe_spaced">
        <div class="lead text-center">
            <p>
            Odoo Point of Sale is more than an ordinary POS.
            <br/>
            Our app provides extra features to deliver awesome customer service.
            </p>
        </div>
    </div>
</section>

<section class='oe_container oe_dark'>
    <div class="oe_row oe_spaced">
        <h2 class='oe_slogan' style="color:#875A7B;">Deliver in-store customer service</h2>
        <h3 class='oe_slogan'>Repairs, warranties, deliveries, etc.</h3>
        <div class='oe_span6'>
            <img class="oe_picture oe_screenshot" src="pos_customers.png">
        </div>
        <div class='oe_span6'>
            <p class="oe_mt32 text-justify">
            Give your shopper a positive experience by improving your services. Handle refunds, track warranties, follow customer claims, plan order deliveries, etc... in one interface. Bring your sales at the next level. Odoo POS can produce customer invoices in just a few clicks and synchronize with Odoo Accounting. Your accounting will be easier and more accurate. Our Point of Sale helps you to control sales and cash in real time but also to keep your whole operations under control.
            </p>
        </div>
    </div>
</section>

<section class='oe_container'>
    <div class='oe_row oe_spaced'>
        <h2 class="oe_slogan" style="color:#875A7B;">Unified data across all shops to improve your sales</h2>
        <h3 class="oe_slogan">Sync products, prices and customers with no effort</h3>
        <div class='oe_span6'>
            <p class="oe_mt32 text-justify">
            Odoo POS implement various functionalities to improve your sales. New products, pricing strategies and promotions can be automatically applied to the selected stores. You can implement a global strategy across all your stores without difficulties. For example, being notified that some products will soon be out of date and setup a promotion to sell these.
            </p>
            <p class="oe_mt8 text-justify   ">
            With Odoo as a backend, you have a system proven to be perfectly suitable for all sizes - from small stores to large multinational corporations.
            </p>
        </div>
        <div class='oe_span6'>
            <img class="oe_picture oe_screenshot" src="pos_products.png">
        </div>
    </div>
</section>

<section class='oe_container oe_dark'>
    <div class='oe_row oe_spaced'>
        <h2 class='oe_slogan' style="color:#875A7B;">Know your customers</h2>
        <h3 class='oe_slogan'>In the store and online</h3>
        <div class='oe_span6'>
            <img class="oe_picture oe_screenshot" src="pos_customer_form.png">
        </div>
        <div class='oe_span6'>
            <p class="oe_mt32 text-justify">
            Successful brands integrate all their customer relationships across all their channels to develop accurate customer profiles and communicate with shoppers as they make buying decisions, in the store and online.
            </p>
            <p class="oe_mt8 text-justify">
            With Odoo, you get a 360 degree customer view, including cross-channel sales, interaction history, profiles and more.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>
