//------------------------------------------------------------------------------
// Checkboxes
//------------------------------------------------------------------------------
div.o_checkbox {
    display: inline-block;
    vertical-align: sub;
    > input + span {
        display: none;
    }
}

//------------------------------------------------------------------------------
// Inputs and selects (note: put the o_input class to have the style)
//------------------------------------------------------------------------------
[type="text"], [type="password"], [type="number"], textarea, select {
    width: 100%;
    display: block;
    outline: none;
}
.o_input {
    border: 1px solid @odoo-form-lightsecondary;
    border-radius: @border-radius-base;
    padding: 2px 4px;
    color: #1f1f1f;

    .o_input {
        border: none!important;
        padding: 0;
    }
}
select {
    background: white;
}

//------------------------------------------------------------------------------
// Loading
//------------------------------------------------------------------------------
.o_loading {
    position: fixed;
    top: 0;
    right: 50%;
    padding: 4px 12px;
    background-color: @odoo-color-pink;
    color: white;
    text-align: center;
    border-top: none;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

//------------------------------------------------------------------------------
// User menu in navbar
//------------------------------------------------------------------------------
#oe_main_menu_navbar .oe_user_menu_placeholder .o_user_menu .oe_topbar_name {
    .o-text-overflow();
    max-width: 150px;
}
