<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Agile Project Management</h2>
        <h3 class="oe_slogan">Beautiful. Easy. Open Source.</h3>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="dashboard.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_padded">
        <h2 class="oe_slogan" style="color:#875A7B;">Modern interface</h2>
        <h3 class="oe_slogan">What you need, the way you like it</h3>
        <div class="oe_span3">
            <img class="oe_picture oe_screenshot" src="project_kanban.png" height="100">
            <h4 class="oe_mb16 text-center"><b>ORGANIZE</b></h4>
            <p class="text-justify">
            A simple drag-and-drop view to help you easily group tasks at the right stage
            </p>
        </div>
        <div class="oe_span3">
            <img class="oe_picture oe_screenshot" src="project_calendar.png" height="100">
            <h4 class="oe_mb16 text-center"><b>SCHEDULE</b></h4>
            <p class="text-justify">
            Easily check your team's planning and reschedule to keep within the deadlines
            </p>
        </div>
        <div class="oe_span3">
            <img class="oe_picture oe_screenshot" src="project_gantt.png" height="100">
            <h4 class="oe_mb16 text-center"><b>PLAN</b></h4>
            <p class="text-justify">
            Keep track of deadlines and progress of your projects with a clear overview
            </p>
        </div>
        <div class="oe_span3">
            <img class="oe_picture oe_screenshot" src="project_graph.png" height="100">
            <h4 class="oe_mb16 text-center"><b>ANALYZE</b></h4>
            <p class="text-justify">
            Keep a good overview of your workload and of the status of tasks
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Harness the power of visual information</h2>
        <h3 class="oe_slogan">Flexible project management made easy.</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="project_tasks.png">
        </div>
        <div class="oe_span6">
            <p class='oe_mt32 text-justify'>
            Simplify your processes and enhance employees collaboration. Break down your project in bite-sized tasks and assign them to your team for an improved collaboration. Create customized stages for each project to better answer your needs.
            </p>
        </div>
   </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Discuss tasks, Share documents</h2>
        <div class="oe_span6">
            <p class='oe_mt32 text-justify'>
            Add quick notes or attach files to any task and stay connected to your team. Forget endless follow-up meetings to keep track of projects. Communicate through the chatter, write in a shared, real time pad or use live chat - all in a single interface!
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="project_sc_03.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Conceptualize project scope within an easy-to-read overview</h2>
        <h3 class="oe_slogan">A functional and dynamic graph view for every task</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="project_sc_04.png">
        </div>
        <div class="oe_span6">
            <p class="oe_mt32 text-justify">
            Create graph views to analyze your data utilizing a powerful search tool, filter and grouping functions, and a variety of unique visual interfaces to help you track and maintain your projects from any level.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>
