.vote {
  min-width: 38px;
  margin-right: 12px;
}
.vote .vote_count {
  font-size: 160%;
  font-weight: bold;
  line-height: 12px;
}
.vote .vote_up, .vote .vote_down {
  font-size: 130%;
}

.author-box {
  min-width: 200px;
  padding: 4px;
  background-color: whitesmoke;
}

.question-block {
  margin-left: 50px;
}

.o_forum_tag_follow_box {
  display: none;
  position: absolute;
  z-index: 1;
  text-align: center;
  opacity: 0.9;
}

.question {
  clear: left;
}

.question .question-name {
  font-size: 150%;
}
.question .badge {
  background-color: #cccccc;
  margin-left: 4px;
}
.question .badge-active {
  background-color: #428bca;
}
.question img {
  max-width: 600px;
  height: auto !important;
}

.forum_answer img {
  max-width: 600px;
  height: auto !important;
}

img.o_forum_avatar {
  max-height: 40px;
  margin-right: 10px;
}

img.o_forum_avatar_big {
  max-width: 75px;
  margin-right: 10px;
}

.oe_grey {
  background-color: #eeeeee;
}

.badge-gold {
  color: #ffcc00;
}

.badge-silver {
  color: #cccccc;
}

.badge-bronze {
  color: #eea91e;
}

.oe_answer_true {
  color: #3c763d;
}
.oe_answer_true:hover {
  color: #4d964e;
}

.oe_answer_false {
  color: #bbbbbb;
}
.oe_answer_false:hover {
  color: #9e9c9c;
}

.favourite_question {
  color: #bbbbbb !important;
}

.forum_favourite_question {
  color: #ffcc00 !important;
}

a.no-decoration {
  cursor: pointer;
  text-decoration: none !important;
}

.faq-question:hover {
  text-decoration: none !important;
  color: #428bca;
}

.oe_comment_grey {
  background-color: whitesmoke;
  padding: 4px;
}

.close.comment_delete {
  font-size: 16px;
  float: none;
}

.country_flag {
  max-height: 16px;
  display: inline-block;
  margin-left: 2px;
}

.tag_text .text-core .text-wrap textarea, .tag_text .text-core .text-wrap input, .tag_text .text-core .text-wrap .text-dropdown, .tag_text .text-core .text-wrap .text-prompt {
  font: 1.2em "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.tag_text .text-core .text-wrap .text-tags .text-tag .text-button {
  font: 1.2em "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  height: 1.2em !important;
}

.oe_forum_alert {
  position: absolute;
  width: 300px;
  z-index: 9999;
}

.oe_forum_email_required {
  position: absolute;
  margin-top: 155px;
  margin-left: 500px;
  margin-right: 100px;
  z-index: 5;
}

button.btn-link.text-muted {
  color: #999999;
}

.o_forum_user_bio_expand {
  position: absolute;
  z-index: 200;
  display: none;
}

.o_forum_tooltip_heading {
  padding: 0px;
  margin: 0px;
  font-size: 18px;
}

.o_forum_user_bio {
  color: black;
  width: 318px;
  min-height: 100px;
  cursor: auto;
  border: 1px solid darkgrey;
  background-color: whitesmoke;
  line-height: 13px;
  font-size: 11px;
  word-wrap: break-word;
}
.o_forum_user_bio .o_forum_tooltip_line {
  min-height: 13px;
}
.o_forum_user_bio .o_forum_tooltip_header {
  min-height: 75px;
}
