<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Open Source Job Board</h2>
            <h3 class="oe_slogan">Organize your job postings and applications</h3>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="jobs.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                Organize your job board, promote your job announces and keep
                track of application submissions easily. Follow every applicant
                and build up a database of skills and profiles.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Create Awsome Job Description Pages</h2>
        <h3 class="oe_slogan">Get rid of old WYSIWYG editors</h3>
        <div class="oe_span6">
            <p class='oe_mt32'>
                Get a clean and professional look for your job annouces.
                Odoo's unique <em>'edit inline'</em> approach makes website
                and job descriptions creation surprisingly easy.
            </p><p>
                Drag &amp; Drop well designed <em>'Building Blocks'</em> to
                create beautifull job descriptions and announces that
                emphasizes the quality of your company.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img oe_centered">
                <img class="oe_picture" src="jobs2.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Post Your Jobs on Best Job Boards</h2>
        <h3 class="oe_slogan">LinkedIn, Monster, Craigslist, Careerbuilder,...</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="jobs3.png">
        </div>
        <div class="oe_span6">
           <p class='oe_mt32'>
                Connect automatically to most famous job board websites;
                linkedIn, Monster, Craigslist, ... Every job position has a new
                email address automatically assigned to route applications
                automatically to the right job position.
           </p><p>
                Whether applicants contact you by email or using an online
                form, you get all the data indexed automatically (resumes,
                motivation letter) and you can answer in just a click, reusing
                templates of answers.
           </p>
        </div>
   </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Customize Your Recruitment Process</h2>
        <h3 class="oe_slogan">Define your own stages and interviewers</h3>
        <div class="oe_span6">
          <p class='oe_mt32'>
            Use the kanban view and customize the steps of your recruitments
            process; pre-qualification, first interview, second interview,
            negociaiton, ...
          </p><p>
            Get accurate statistics on your recruitment pipeline. Get reports
            to compare the performance of your different investments on
            external job boards.
          </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="jobs4.png">
        </div>
   </div>
</section>


<section class="oe_container">
    <div class="oe_row">
         <h2 class="oe_slogan">Streamline Your Recruitment Process</h2>
         <h3 class="oe_slogan">Index resumes, track applicants, search profiles</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="hr_recruitment.png">
        </div>
         <div class="oe_span6">
            <p class='oe_mt32'>
                Follow applicants in your recruitment process with the smart
                kanban view.  Save time by automating some communications with
                email templates.
            </p><p>
                Documents like resumes and motivation letters are indexed
                automatically, allowing you to easily find for specific skills
                and build up a database of profiles.
            </p>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Integrated Surveys</h2>
        <h3 class="oe_slogan">Define your own online or offline surveys</h3>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture" src="jobs4.png">
            </div>
        </div>
        <div class="oe_span6">
          <p class='oe_mt32'>
              Create your own interview canvas based on our best practices.
              Use the survey designer to adapt questions to your own process.
              Ask the applicant to fill in the survey online, or the
              interviewer to use it during real interviews.
          </p>
        </div>
   </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Fully Integrated With Others Apps</h2>
        <h3 class="oe_slogan">Get hundreds of open source apps for free</h3>
        <div class="oe_span4">
            <a href="/apps/website">
                <div class="oe_row_img oe_centered">
                    <img class="oe_picture oe_screenshot" src="website.png">
                </div>
                <h3>CMS</h3>
            </a>
            <p>
                Easily create awesome websites with no technical knowledge required.
            </p>
        </div>
        <div class="oe_span4">
            <a href="/apps/website_blog">
                <h3>Blogs</h3>
                <div class="oe_row_img oe_centered">
                    <img class="oe_picture oe_screenshot" src="blog.png">
                </div>
            </a>
            <p>
                Write news, attract new visitors, build customer loyalty.
            </p>
        </div>
        <div class="oe_span4">
            <a href="/apps/website_event">
                <div class="oe_row_img oe_centered">
                    <img class="oe_picture oe_screenshot" src="events.png">
                </div>
                <h3>Online Events</h3>
            </a>
            <p>
                Schedule, organize, promote or sell events online; conferences,
                webinars, trainings, etc.
            </p>
        </div>
        <div class="oe_span12 oe_centered oe_muted">
            <a href="/apps">
                and hundreds more applications...
            </a>
        </div>
    </div>
</section>

