<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Turn Quotes Into Invoices with minimal effort</h2>
        <h3 class="oe_slogan oe_mb32">Bill automatically based on SO, delivery orders, contracts or time and material</h3>
        <div class="oe_span4 text-center">
            <span class="fa fa-copy fa-2x"/>
            <p class="oe_mt16">
            Create invoices based on quotes sent to your clients.
            </p>
        </div>
        <div class="oe_span4 text-center">
            <span class="fa fa-file-text fa-2x"/>
            <p class="oe_mt16">
            Send professional looking invoices directly to your clients in just a click.
            </p>
        </div>
        <div class="oe_span4 text-center">
            <span class="fa fa-file-pdf-o fa-2x"/>
            <p class="oe_mt16">
            Automatically send them by email as a PDF attachment or print and send them by post.
            </p>
        </div>
        <div class="col-md-8 col-md-offset-2 oe_mt32">
            <img class="oe_picture oe_screenshot" src="account_sc_01.png"/>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Get paid faster</h2>
        <h3 class="oe_slogan">Online payments and automated follow-ups</h3>
        <p class="oe_mt32">
        Accept online payments via Paypal, Ogone, Buckaroo or Adyen. Eliminate the stress of sending reminders for late or outstanding payments. Simply set up and automate follow-ups to get paid quickly.
        </p>
        <div class="col-md-8 col-md-offset-3 oe_mt16">
            <img class="oe_picture" src="account_voucher.png" height="300">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:#875A7B;">Simplify your accounting</h2>
       <h3 class="oe_slogan">Keep track of bank account movements and the status of invoices</h3>
        <p class="oe_mt32">
        Use a status overview to help keep track of drafts, paid and unpaid invoices. Automatically record all transactions from your bank accounts by importing and reconciling your bank statements.
        </p>
        <div class="oe_row_img oe_centered oe_mt32">
            <img class="oe_picture oe_screenshot" src="account_sc_03.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Analyze your sales</h2>
        <h3 class="oe_slogan">Access insightful data to get the big picture</h3>
        <div class="oe_span6">
            <p class='oe_mt32 text-justify'>
            Get direct access to key information with dynamic and customizable dashboards. Make your own definition and analyze your invoicing by product, customer, salesperson, etc.
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture" src="analysis.png">
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>
