.o_stock_reports_lines(@border-width: 5px, @color: inherit, @font-weight: inherit, @border-top-style: initial, @border-bottom-style: initial) {
    border-width: @border-width;
    border-left-style: hidden;
    border-right-style: hidden;
    color: @color;
    font-weight: @font-weight;
    border-top-style: @border-top-style;
    border-bottom-style: @border-bottom-style;
}
.o_stock_reports_body_print {
    background-color: white;
    color: black;
    .o_stock_reports_level0 {
        .o_stock_reports_lines(@border-width: 1px, @font-weight: bold, @border-top-style: solid, @border-bottom-style: groove);
    }
}

.o_stock_reports_page {
    background-color: @odoo-view-background-color;
    color: @odoo-main-text-color;
    &.o_stock_reports_no_print {
        padding-bottom: 125px;
        margin: @odoo-horizontal-padding auto;
        .o-webclient-padding(@top: @odoo-sheet-vpadding, @bottom: @odoo-sheet-vpadding);
        .o_stock_reports_level0 {
            .o_stock_reports_lines(@border-width: 1px, @color: @odoo-brand-primary, @font-weight: bold, @border-top-style: solid, @border-bottom-style: groove);
        }
        .o_stock_reports_table {
            white-space: nowrap;
            margin-bottom: 228px;
            margin-top: 30px;
        }
        .o_report_line_header {
            padding-left: 10px;
        }
        .o_report_header {
            border-top-style: solid;
            border-top-style: groove;
            border-bottom-style: groove;
            border-width: 2px;
        }
    }
    .o_stock_reports_unfolded {
        display: inline-block;
    }
    table > tbody > tr > td ~ td > span {
        margin-left: 10px;
    }
    .o_stock_reports_unfolded td + td {
        visibility: hidden;
    }
    div.o_stock_reports_web_action,
    span.o_stock_reports_web_action, i.fa,
    span.o_stock_reports_unfoldable, span.o_stock_reports_foldable, a.o_stock_reports_web_action  {
        cursor: pointer;
    }
    .o_stock_reports_caret_icon {
        margin-left: -3px;
    }
    th {
        border-bottom: thin groove;
    }
    .o_stock_reports_level1 {
        .o_stock_reports_lines(@border-width: 2px, @border-top-style: hidden, @border-bottom-style: solid);
    }
    .o_stock_reports_level2 {
        .o_stock_reports_lines(@border-width: 1px, @border-top-style: solid, @border-bottom-style: solid);
        > td > span:last-child {
            margin-left: 25px;
        }
    }
    .o_stock_reports_default_style {
        .o_stock_reports_lines(@border-width: 0px, @border-top-style: solid, @border-bottom-style: solid);
        > td > span:last-child {
            margin-left: 50px;
        }
    }
}
