<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Beautiful email marketing solution</h2>
        <h3 class="oe_slogan">Grow your subscribers base with powerful email marketing</h3>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="mass_mailing_campaigns.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Build awesome campaigns in minutes</h2>
        <h3 class="oe_slogan">Start from scratch or pick one of our many themes!</h3>
        <div class="oe_mt32 oe_mb32 text-center">
            <p>
            Craft successful email campaigns that resonate with your prospects without any IT knowledge.
            </p>
            <p style="margin-top: -10px;">Get total control over your email content and layout thanks to an intuitive and easy-to-use software.
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot oe_mb32" src="mass_mailing_sc_01a.png">
            <h4 class="text-center">
                <b>Drag &amp; Drop gorgeous building blocks</b>
            </h4>
            <p class="oe_mt16 text-justify">
            Creating your own personalized email has never been so easy! Just choose your building blocks and drop them exactly where you want them to appear in your email. Enrich your content with titles &amp; subtitles, calls-to-action, social media buttons or footers in just one click.
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot oe_mb32" src="mass_mailing_sc_01b.png">
            <h4 class="text-center">
                <b>Choose from our beautiful out-of-the-box themes</b>
            </h4>
            <p class="oe_mt16 text-justify">
            You don&apos;t feel like designing newsletters on your own? No worries, just select one of our many great looking templates, readjust the layout, add your message and images and you&apos;re ready to make it to the inbox!
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Send the right message to the right audience</h2>
        <h3 class="oe_slogan">Segment your database for better open and click rates</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="mass_mailing_sc_02.png">
        </div>
        <div class="oe_span6">
            <p class="oe_mt32 text-justify">
            Optimize your results by sending your campaigns to targeted groups within your database. Select leads, customers or any other group from your contacts list by country, by date, by function and more, all designed to make sure you send your content only to the people you care about.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Reach your target on any device</h2>
        <h3 class="oe_slogan">Fully responsive, 100% mobile friendly</h3>
        <div class="col-md-7">
            <p class="oe_mt32 text-justify">
            Be sure that your email newsletter is optimally displayed on every screen - whether it is a tablet, a mobile phone, laptop or desktop computer. Our dynamic content will adapt automatically to your subscriber&apos;s screen by adjusting spacing and optimizing images, offering the best reading comfort.
            </p>
        </div>
        <div class="col-md-4 col-md-offset-1">
            <img class="oe_picture" src="mass_mailing_sc_03.png">
        </div>
   </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Track &amp; improve your campaigns</h2>
        <h3 class="oe_slogan">Rely on stats and data to send better emails</h3>
        <div class="oe_row_img oe_centered oe_mt32">
            <img class="oe_picture oe_screenshot" src="mass_mailing_sc_04.png"/>
        </div>
        <p class="oe_mt32">
        Get accurate and real-time statistics on every email sent out. Easily track your open rate, bounce rate, click-through rate and improve your overall marketing strategy. Follow the opportunities generated and the expected revenues thanks to the integration with Odoo CRM.
        </p>
        </div>
   </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Go one step further with advanced features</h2>
        <h3 class="oe_slogan oe_mb32">Take full control of every aspect of your mailing campaigns</h3>
        <div class="oe_span6">
            <div class="text-center">
                <span class="fa fa-link fa-2x"/>
                <h4 class="oe_mt16">
                    <b>Track your links</b>
                </h4>
            </div>
            <img class="oe_picture oe_screenshot oe_mt32 oe_mb32" src="mass_mailing_sc_05a.png"/>
            <p class="text-justify">
            Add a tracking code to all the links you send out and track the clicks, opportunities and revenues generated by your campaigns with Odoo Link Tracker.
            </p>
        </div>
        <div class="oe_span6">
            <div class="text-center">
                <span class="fa fa-exchange fa-2x"/>
                <h4 class="oe_mt16">
                    <b>Calculate your ROI with Odoo CRM</b>
                </h4>
            </div>
            <img class="oe_picture oe_screenshot oe_mt32 oe_mb32" src="mass_mailing_sc_05b.png"/>
            <p class="text-justify">
            Follow the opportunities generated from your email campaigns through the whole sales funnel. See which campaigns are your most profitable, how many clients have been converted and how much revenue has been generated.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>
